services:
  step:
    image: smallstep/step-ca
    container_name: step-ca-local
    ports:
      - "${STEP_CA_PORT:-9000}:${STEP_CA_PORT:-9000}"
    volumes:
      - step:/home/step
    # environment:
      # - DOCKER_STEPCA_INIT_PASSWsORD=${SMALLSTEP_CA_KEY_PASSWORD:? SMALLSTEP_CA_KEY_PASSWORD required for local setup...}
    env_file: 
      - ".env"
      - "${CD_ENV_FILE:-stack.env}" # Portainer should be parameterized somehow.
    networks:
      - certificates
      - internal
      # - public
    restart: always

volumes:
  step:

networks:
  internal:
    internal: true
  certificates:
    internal: true
  # public:
