services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "81:81"
      - "82:82"
      - "8443:8443"
      - "443:443"
    volumes:
      # - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./config/nginx/:/etc/nginx/conf.d/:ro
      - ./config/certbot/www/:/var/www/certbot/:ro
      - ./config/certbot/conf/:/etc/nginx/ssl/:ro
    networks:
      - shared_network
      - internal
    restart: always

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    environment:
      - REQUESTS_CA_BUNDLE=/usr/local/share/ca-certificates/step-ca.crt
    volumes:
      - ~/.step/certs/root_ca.crt:/usr/local/share/ca-certificates/step-ca.crt:ro
      - ./config/certbot/www/:/var/www/certbot/:rw
      - ./config/certbot/conf/:/etc/letsencrypt/:rwls
    networks:
      - shared_network
      - internal

  echo:
    build: 
      context: .
      dockerfile: Dockerfile.simple-echo-server
    container_name: echo
    restart: always
    networks:
      - internal

networks:
  shared_network:
    external: true
  internal:
    internal: true


